body {
  margin: 4rem;
  min-height: 80vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  background-color: #ff5252;
  color: #fff;
}
::selection {
  background-color: #ff5252;
  color: #fff;
}
